<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.ceciliastudio.GameStub</string>
	<key>CFBundleName</key>
	<string>GameStub</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSSupportsGameMode</key>
	<true/>
	<key>GCSupportsGameMode</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>runner</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The game process is requesting microphone permission.</string>
</dict>
</plist>
